<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="d-flex flex-row">
            <a class="navbar-brand" href="#">Recipe Book</a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item mr-2 ml-2">
                    <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
                </li>
                <li class="nav-item mr-2 ml-2">
                    <a class="nav-link" href="#" (click)="onSelect('shopping')">Shopping List</a>
                </li>
            </ul>
        </div>
       
        <div class="right" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" appDropDown #dropDownWrapper>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                    </a>
                    <div class="dropdown-menu" [ngClass]="{'show': dropDownWrapper.classList.contains('show')}" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>    
                </li>
            </ul>
        </div>
    </div>
  </nav>