<div class="">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr />
<div>
    <div>
        <app-recipe-item
          *ngFor="let recipe of recipes"
          [imgPath]="recipe.imgPath"
          [name]="recipe.name"
          [description]="recipe.description"
          [ingredients]="recipe.ingredients"
        >
        </app-recipe-item>
    </div>
</div>
