<div>
    <div class="img-wrapper">
        <img [src]="recipe.imgPath" [alt]="recipe.name" class="img-responsive" style="width:400px"/>
    </div>
    <h1>{{recipe.name}}</h1>
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" appDropDown #manageRecipeDD>
            Manage Recipe <span class="carret"></span>
        </button>
        <ul class="dropdown-menu" [ngClass]="{'show': manageRecipeDD.classList.contains('show')}">
            <li><a href="#" (click)="addToShoppingList(recipe.ingredients)">Add To Shopping List</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>
    </div>
    <p>{{recipe.description}}</p>
    <div>
        <ul class="list-group">
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - ({{ingredient.amount}})
            </li>
        </ul>
    </div>
</div>
