<a
  href="#"
  class="list-group-item d-flex justify-content-between"
  (click)="onSelected()">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{name}}</h4>
        <p class="list-group-item-text">{{description}}</p>
    </div>
    <div class="pull-right">
        <img
          [src]="imgPath"
          [alt]="name"
          class="img-responsive"
          style="max-height: 50px"
        />
    </div>
</a>
