<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" class="form-control" #quantityInput>
                </div>
            </div>
            <div class="">
                <div class="col-xs-12 d-flex">
                    <button class="btn btn-success m-1" type="submit" (click)="onAddItem()">Add</button>
                    <button class="btn btn-danger m-1" type="button">Delete</button>
                    <button class="btn btn-primary m-1" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
